name: 'Tests: node.js'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@main
    with:
      range: '>= 19 || ^18 || ^16.13 || ^14.18'
      type: minors
      command: npm run tests-only

  node:
    name: 'node'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: true
